.container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.container p {
  font-size: 45px;
  font-weight: 800;
  margin: 15px;
}
